mixin modal
    <div class="remodal remodal-hire" data-remodal-id="hire">
        <button data-remodal-action="close" class="remodal-close"></button>
        +title('Hire Me').remodal-hire__title
        +form
    </div>
    <div class="remodal remodal-nav" data-remodal-id="menu">
        <button data-remodal-action="close" class="remodal-close"></button>
        +nav
    </div>