.btn {
    background-color: white;
    color: #3695ff;
    // font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    // background-color: white;
    border-radius: 17px;
    // padding: 10px;
    // width: 130px;
    // margin-left: 50px;
    color: #194277;
    text-decoration: none;
    
    &--big {
        border-radius: 28px;
        padding: 22px;
    }
   
    &:hover{
color: white;
background-color:#194277 ;
    }
}