.btn{
    background-color: white;
    border-radius: 17px;
    padding: 10px;
    width: 130px;
    margin-left: 50px;
    color: #194277;
    text-decoration: none;
   
    &--big {
        padding: 16px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        color: #3695ff !important;
        border-radius: 50px !important;
    }

    &:hover{
    color: white;
    background-color:#194277 ;
    }
}