mixin cookies
    .cookies
        .container.text-center.d-flex.justify-content-center
            .cookies__text This site uses cookies, so that my service can work better. 
            +btn('Accept', 'primary')(href="#menu")