mixin hire
    .hire
        .container.d-md-flex.justify-content-between
            h2.hire__title Need a graphic designer? 
                strong Ready to work!
            +btn('hire me', 'big')(href="#hire")