.hire {
    padding: 90px 0;
    background: url(/dist/img/footer.jpg) no-repeat;

    &__title {
        font-size: 50px;
        color: #fff;
        font-weight: 300;
    }
}

.btn--big {
    width: 200px !important;
    padding: 16px 0 !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #3695ff !important;
    border-radius: 50px !important;
}


  