mixin welcome
    .welcome
        .container
            .row
                .col-12.col-lg-10.offset-lg-1
                    .welcome__logo
                        img(src="./img/logo.png", alt="")
                    h1.welcome__title free portfolio PSD template 
                        br
                        | FOR GRAPHIC designerS
                    p.welcome__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    +btn('hire me', 'big')(href="#hire")
                    .welcome__arrow
                        img(src="./img/arrow__bottom.png", alt="")
                    a.welcome__nav(href="#menu")
                        <i class="fas fa-bars"></i>