.welcome {
    background-color: #3695ff;
    padding-top: 94px;
    text-align: center;
    position: relative;

    &__title {
        color: white;
        font-family: Lato;
        font-size: 50px;
        font-weight: 900;
        line-height: 60px;
        text-transform: uppercase;
    }

    &__subtitle {
        color: white;
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        line-height: 35px;
        text-transform: uppercase;
        margin-bottom: 76px;
    }

    &__logo {
        padding-bottom: 50px;
    }

    &:before {
        content: '';
        position: absolute;
        display: block;
        background-image: url(../img/bgwelcome.png);
        top: 0;
        height: 100%;
        width: 100%;
    }

    &__arrow {
        margin-bottom: 24px;
        margin-top: 92px;
    }

    &__nav {
        width: 25px;
        height: 19px;
        color: white;
        position: absolute;
        top: -30px;
        right: 0px;
    }
}