.expert{
    font-family:"Lato", sans-serif;
    padding-top: 100px;
    background-color: #f1f8ff;
    &__title{margin-bottom:110px;}
    &__icon{
        width: 142px;
        height: 142px;
        border: 1px solid #b7c0c9;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 auto;
    }
    &__item{
        text-align: center;
    }
    &__in{
        color: #3677fd;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 35px;
        margin-top: 60px;
    }
    &__text{
        color: #5a5a5a;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px;
        margin-bottom: 100px;
    }
}